# Binaries
*.exe
*.dll
*.o
*.a

# Test binary and results
*.test
*.profdata
coverage.out

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Go modules
/vendor/
go.sum

# Env files
.env

# sqlc generated code
internal/database/sqlc/

# Uploads directory
uploads/
